<!DOCTYPE html>
<html>
<head>
  <title>Registeration</title>
  
</head>
<body>
 
    <h2>Event Registration</h2>
    <form action="/register" method="POST">
      <input type="text" name="name" placeholder="Full Name" required>
      <input type="text" name="student_id" placeholder="Student ID" required>
      <input type="email" name="email" placeholder="Email" required>
      <select name="year" required>
        <option value="">-- Select Year --</option>
        <option value="1st">1st Year</option>
        <option value="2nd">2nd Year</option>
        <option value="3rd">3rd Year</option>
        <option value="4th">4th Year</option>
      </select>
      <button type="submit">Register</button>
    </form>
  
</body>
</html>